<!DOCTYPE html>
<html>
    <head>
        <title>Movie Search App</title>
        <link rel="stylesheet" type="text/css" href="/app.css"></link>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>